.app {
    float: left;
    padding: 30px;
    width: 80%;
}
 
.user-info img {
    float: left;
    margin: 0 20px 20px 0;
    max-height: 250px;
}

.user-info p {
    align: justify;
    width: 75%;
}

.user-info ul {
    list-style: none;
}

.actions {
    float: left;
    width: 100%;
}

.actions button {
    font-size: 20px;
    font-weight: 700;
    height: 40px;
    text-transform: uppercase;
    width: 30%;
}

.username {
    height: 100%
}

.search {
    height: 40px;
}

.search input {
    width: 60%;
    height: 100%;
}

.repos {
    float: left;
    margin-left: -50px;
}

.repos ul {
    list-style: none; //removing the circle before text
}

.repos h2 {
    text-align: center;
}

.starred {
    float: left;
    margin-left: -50px;
}

.repos li {
    margin: 15px ;
}

.starred li {
    margin: 15px;
}

.starred ul {
    list-style: none;
}

.starred h2 {
    text-align: center;
}